@use "../../assets/scss/mixins/grid.scss" as *;

.header {
	padding: 3.5rem 0;

	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include container-header(4);
	}

	&-content {
		display: flex;
		align-items: center;
		gap: 9rem;
	}

	&-menu {
		display: flex;
		gap: 6rem;
	}

	&-buttons {
		display: flex;
		gap: 1.6rem;
	}
}