@use "../../assets/scss/mixins/grid.scss" as *;
@use "../../assets/scss/mixins/hover.scss" as *;
@use "../../assets/scss/common/variables" as *;

.footer {
	background: $color-brand;
	padding-top: 14rem;
	overflow: hidden;

	&-content {
		@include container(2);
	}

	&-question {
		display: block;
		font-size: 1.6rem;
		line-height: 120%;
		margin-bottom: 5.6rem;
		letter-spacing: 0.01em;
	}

	&-answer {
		display: flex;
		flex-direction: column;

		&-item {
			position: relative;
			font-size: 11.2rem;
			line-height: 100%;
			width: fit-content;

			&:after {
				content: "";
				position: absolute;
				left: .8rem;
				bottom: 1.7rem;
				height: .1rem;
				background: $color-text;
				width: 98%;
				z-index: 1;
			}
		}

		.g-wrapper {
			position: relative;
			display: inline-block;
			z-index: 2;

			&:after {
				content: "";
				position: absolute;
				bottom: 1.7rem;
				left: -1.2rem;
				width: 8.3rem;
				height: 0.1rem;
				background: $color-brand;
				z-index: 1;
			}
		}

		.g-char {
			position: relative;
			z-index: 2;
		}
	}

	&-top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 14rem;
	}

	&-contacts {
		display: flex;
		flex-direction: column;
		gap: 3.6rem;

		&-item {
			display: flex;
			flex-direction: column;
		}

		&-link {
			width: 3.2rem;
			height: 3.2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $color-text;
			border-radius: 50%;
		}

		&-heading {
			margin-bottom: .8rem;
		}

		&-text {
			margin-bottom: 1.2rem;
			letter-spacing: 0.01em;

			&_phone {
				margin-bottom: .4rem;
			}

			&_email {
				margin-bottom: 0;
			}
		}
	}

	&-bottom {
		position: relative;
		display: flex;
		justify-content: space-between;
	}

	&-links {
		display: flex;
		margin-bottom: 3rem;
		gap: 3.2rem;

		&-item {
			letter-spacing: 0.01em;
			text-decoration: underline;
			text-underline-offset: .6rem;

			@include hover {
				text-decoration: underline;
				text-underline-offset: .6rem;
			}
		}
	}

	&-go {
		position: relative;
		width: 35.8rem;

		&-link {
			position: absolute;
			width: 100%;
			height: 35.8rem;
			display: flex;
			justify-content: center;
			background: $color-text;
			color: white;
			font-size: 3.2rem;
			line-height: 100%;
			border-radius: 50%;
			padding-top: 12.2rem;
			margin-top: -12.2rem;
		}
	}
}