@font-face {
  font-weight: 400;
  font-family: "TTCommons";
  font-style: normal;
  src: url("@/assets/fonts/TTCommons/TTCommons-Regular.woff2") format("woff2"), url("@/assets/fonts/TTCommons/TTCommons-Regular.woff") format("woff");
  font-display: swap;
}